/* Base Styles -------------------- */
* {
  box-sizing: border-box; }

body {
  font-size: 1em;
  line-height: 1.6;
  font-weight: 400;
  color: #000;
  letter-spacing: 0.03em;
  font-family: "Roboto", Helvetica, Arial, sans-serif; }
  @media (min-width: 1024px) {
    body {
      background-color: #fafafa;
      max-width: 1250px;
      margin: 0 auto; } }

h1,
h2,
h3,
h4 {
  margin: 0; }

h2,
h3 {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-weight: 700; }

img {
  max-width: 100%; }

a {
  display: block;
  text-decoration: none; }

/* Pseudo-classes ------------------ */
a:link, a:visited, a:active {
  text-transform: uppercase;
  color: #686868; }
a:hover {
  color: #a8a8a8; }

.main-header, .main-footer, .profile, .portfolio {
  text-align: center; }

.main-header:after, .main-nav:after, .main-footer:after, .container:after, .profile:after, .portfolio:after {
  content: " ";
  display: table;
  clear: both; }

.main-header {
  background-color: #fafafa; }
@media (min-width: 1024px) {
  .main-nav {
    padding: 0 1.6%; } }
@media (min-width: 768px) {
  .main-nav ul {
    display: inline-block; } }
@media (min-width: 1024px) {
  .main-nav ul {
    float: right;
    padding-top: 1em; } }
.main-nav li {
  background-color: #fff;
  padding: .8em;
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    .main-nav li {
      float: left;
      margin: .5em 2em 0 0;
      padding: 0;
      background-color: transparent; } }
@media (min-width: 768px) {
  .main-nav li:last-child {
    margin-right: 0; } }

.main-footer {
  background-color: #fafafa;
  padding: 18px 1.2em; }
  @media (min-width: 768px) {
    .main-footer p {
      display: inline-block;
      width: 70%; } }

.contact-info {
  margin: 3em 0; }

#footer-nav {
  display: none; }
  @media (min-width: 768px) {
    #footer-nav {
      display: inline-block;
      float: right;
      font-size: .8em; } }

.footer-name {
  float: left; }
  @media (min-width: 1024px) {
    .footer-name {
      padding-top: 0.5em; } }

.container {
  padding: 0 1em; }

.profile {
  margin-top: 2em;
  padding: 0 1em; }

@media (min-width: 1024px) {
  .portfolio {
    margin: 0 2%;
    background-color: #fff; } }

@media (min-width: 768px) {
  .profile img {
    float: right;
    margin-left: 3%; } }
@media (min-width: 1024px) {
  .profile img {
    margin-left: 8%; } }
@media (min-width: 768px) {
  .profile p {
    text-align: left; } }
@media (min-width: 1024px) {
  .profile p {
    width: 40%;
    max-width: 1150px; } }

@media (min-width: 768px) {
  .gallery li {
    float: left;
    width: 45%;
    margin: 2.5%; } }
@media (min-width: 1024px) {
  .gallery li {
    float: left;
    width: 28.3333%; } }
@media (min-width: 768px) {
  .gallery li:nth-child(2n + 1) {
    clear: left; } }
@media (min-width: 1024px) {
  .gallery li:nth-child(2n + 1) {
    clear: none; } }
@media (min-width: 1024px) {
  .gallery li:nth-child(3n + 1) {
    clear: left; } }

.name {
  font-size: 2.5em;
  line-height: 1.6;
  font-weight: 700;
  letter-spacing: -0.01em;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif; }
  @media (min-width: 1024px) {
    .name {
      float: left; } }

.main-nav a {
  font-weight: 700; }

.portfolio h2 {
  font-size: 2em;
  margin: 2em 0 1.2em 0;
  padding-top: 1em; }
.portfolio h3 {
  font-size: 1.6em;
  margin-top: 1em; }
.portfolio p {
  font-size: initial;
  margin: 0.6em 0 2.8em 0; }

#contact h3 {
  font-size: 1.2em;
  line-height: 1.6;
  font-weight: 700;
  margin: 2em 0 1em; }
#contact p {
  width: 50%;
  margin: 0 auto; }

.phone a:link,
.email a:link {
  font-size: 1em;
  line-height: 1.6;
  font-weight: 700;
  color: #000;
  padding-left: .8em; }
.phone a:hover,
.email a:hover {
  color: #878787; }
@media (min-width: 1024px) {
  .phone a,
  .email a {
    display: inline-block; } }

.footer-name {
  font-size: 1.2em; }

.back-to-top {
  float: right; }
  @media (min-width: 768px) {
    .back-to-top {
      display: none; } }

/*# sourceMappingURL=application.css.map */
