.container {
	@extend %clearfix;
	padding: 0 1em;
}

.profile {
	@extend %centered;
	@extend %clearfix;
  margin-top: 2em;
  padding: 0 1em;
}

.portfolio {
	@extend %centered;
	@extend %clearfix;

	@include media(desktop) {
		margin: 0 2%;
		background-color: #fff;
	}
}



