.main-footer {
	@extend %centered;
	@extend %clearfix;
	background-color: $color-background;
	padding: 18px 1.2em;

 	& p {
		@include media(tablet) {
			display: inline-block;
			width: 70%;
		}
	}
}

.contact-info {
	margin: 3em 0;
}

#footer-nav {
	display: none;

	@include media(tablet) {
		display: inline-block;
		float: right;
		font-size: .8em;
	}
}

.footer-name{
	float: left;

	@include media(desktop) {
		padding-top: 0.5em;
	}
}


