.main {
	&-header {
		@extend %centered;
		@extend %clearfix;
		background-color: $color-background;
	}

	&-nav {
		@extend %clearfix;
		
		@include media(desktop) {
			padding: 0 1.6%;
		}
	}

	&-nav ul {
		@include media(tablet) {
			display: inline-block;
		}

		@include media(desktop) {
			float: right;
			padding-top: 1em;
		}
	}

	&-nav li {
	  background-color: $white;
	  padding: .8em;
	  margin-bottom: 10px;

	 @include media(tablet) {
  	float: left;
  	margin: .5em 2em 0 0;
  	padding: 0;
  	background-color: transparent;
	  }
	}

	&-nav li:last-child {
		@include media(tablet) {
			margin-right: 0;
		}
	}
}

