.name {
	@include text(2.5em, 1.6, 700, $letter-spacing: -0.01em);
	font-family: $stack-Roboto-Condensed;

	@media #{$brk-wide} {
		float: left;
	}
}

.main-nav a {
  font-weight: 700;
}

.portfolio {
	& h2 {
		font-size: 2em;
		margin: 2em 0 1.2em 0;
		padding-top: 1em;
	}

	& h3 {
		font-size: 1.6em;
		margin-top: 1em;
	}

	& p {
		font-size: initial;
	  margin: 0.6em 0 2.8em 0;
	}	
}

#contact {
	& h3 {
		@include text(1.2em, 1.6, 700);
		margin: 2em 0;
	}

	& p {
		width: 50%;
	}
}

.phone a,
.email a {
	&:link {
	@include text(1em, 1.6, 700, $black);
	padding-left: .8em;
	}

 	&:hover {
    color: $grey;
  }
}

.footer-name {
	font-size: 1.2em;
}


